include README.md
include Makefile
graft hyper_internal_service
recursive-include vendor *
global-include hyper_internal_service *.pyi
global-exclude *.pyc
global-exclude *.pyd
global-exclude *.so
global-exclude *.lib
global-exclude *.dll
global-exclude *.a
global-exclude *.obj
exclude hyper_internal_service/*.html